
.Level {  
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
}
.confirmed,.recovered,.deaths,.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25%);
}
.head {
    font-size: 25px;
}
.datas {
    font-size: 25px;
}
.confirmed {
    color: #6c757d;
}
.active {
    color: #007bff;
}
.recovered {
    color: #28a745;
}
.deaths {
    color: #ff073a;
}

@media screen and (max-width: 992px) {
    .Level {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20rem;
    }
    .head {
        font-size: 18px;
    }
    .datas {
        font-size: 14px;
    }
}